---
const today = new Date();
---

<footer>
  <p>&copy; {today.getFullYear()} Adam Knee. All vector art was made by yours truly. All rights reserved.</p>
</footer>
<style>
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: var(--space-sm) var(--space-md);
    font-size: var(--font-size-sm);
    @media (min-width: 48rem) {
      padding: var(--space-md);
    }
  }
</style>
