---
import ThemedLayout from '../../layouts/ThemedLayout.astro';
---

<ThemedLayout title="404 | Not Found" description="Page not found">
  <main>
    <h1>Sorry, not Found. Please try again later.</h1>
  </main>
</ThemedLayout>

<style>
  h1 {
    font-weight: 900;
    text-align: center;
  }
</style>
