/* define layers and order of priority */
@layer reset, theme, base, components, utilities;
/* define the sanitize.css file to the reset layer */
@import url(sanitize.css) layer(reset);
/* define theme tokens */
@layer theme {
  /* @media (min-width: 40rem) { */
  /* Styles for 640px and up */
  /* } */

  /* @media (min-width: 48rem) { */
  /* Styles for 768px and up */
  /* } */

  /* @media (min-width: 64rem) { */
  /* Styles for 1024px and up */
  /* } */

  /* @media (min-width: 80rem) { */
  /* Styles for 1280px and up */
  /* } */

  /* @media (min-width: 96rem) { */
  /* Styles for 1536px and up */
  /* } */

  /* Default (Dark Mode) Theme */
  :root {
    /* 🎨 Colors */
    --color-coral: oklch(70.14% 0.1729 33.23);
    --color-deep-lavender: oklch(70.14% 0.1729 307.06);
    --color-paper: oklch(95.31% 0.0173 99.6);
    --color-paper-highlight: oklch(95.31% 0.0173 99.6 / 03%);
    --color-neutral: oklch(76.55% 0 0);
    --color-deep-space: oklch(24.35% 0 0);
    --color-deep-space-highlight: oklch(24.35% 0 0 / 03%);
    --color-primary: var(--color-coral);
    --color-secondary: var(--color-deep-lavender);
    --color-background: var(--color-paper);
    --color-text: var(--color-deep-space);
    --color-text-highlight: var(--color-deep-space-highlight);
    --color-border: var(--color-neutral);

    /* 🏗️ Spacing (8pt grid system) */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 48px;

    /* 🔠 Typography */
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    /* 🏗️ Border Radius */
    --radius-xs: 2px;
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 16px;
    --radius-full: 999px;

    /* Z Indexes */
    --layer-base: 0;
    --layer-1: 100;
    --layer-2: 200;
    --layer-3: 300;
    --layer-4: 400;
    --layer-5: 500;
    --layer-6: 600;
    --layer-7: 700;
    --layer-8: 800;
    --layer-9: 900;
    --layer-top: 1000;
  }
  /* LIGHT MODE */
  :root[data-theme='light'] {
    --color-background: var(--color-paper);
    --color-text: var(--color-deep-space);
    --color-text-highlight: var(--color-deep-space-highlight);
    --color-border: var(--color-neutral);
  }

  /* DARK MODE */
  :root[data-theme='dark'] {
    --color-background: var(--color-deep-space);
    --color-text: var(--color-paper);
    --color-text-highlight: var(--color-paper-highlight);
    --color-border: var(--color-neutral);
  }

  /* SYSTEM MODE: Default to light tokens, but adjust via media query if the system prefers dark */
  :root[data-theme='system'] {
    --color-background: var(--color-paper);
    --color-text: var(--color-deep-space);
    --color-text-highlight: var(--color-deep-space-highlight);
    --color-border: var(--color-neutral);
  }
  @media (prefers-color-scheme: dark) {
    :root[data-theme='system'] {
      --color-background: var(--color-deep-space);
      --color-text: var(--color-paper);
      --color-text-highlight: var(--color-paper-highlight);
      --color-border: var(--color-neutral);
    }
  }

  :focus-visible {
    outline: 2px solid var(--color-primary);
    border-radius: var(--radius-sm);
    outline-offset: var(--radius-xs);
  }
}
/* base fundamental styles */
@layer base {
  /* poppins-latin-400-normal */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src:
      url(@fontsource/poppins/files/poppins-latin-400-normal.woff2) format('woff2'),
      url(@fontsource/poppins/files/poppins-latin-400-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
      U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* poppins-latin-700-normal */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src:
      url(@fontsource/poppins/files/poppins-latin-700-normal.woff2) format('woff2'),
      url(@fontsource/poppins/files/poppins-latin-700-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
      U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* poppins-latin-900-normal */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-display: swap;
    font-weight: 900;
    src:
      url(@fontsource/poppins/files/poppins-latin-900-normal.woff2) format('woff2'),
      url(@fontsource/poppins/files/poppins-latin-900-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
      U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  :root {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    text-transform: lowercase;
    -webkit-font-smoothing: antialiased;
  }
  body {
    min-height: 100vh;
  }
  a {
    color: var(--color-primary);
  }
  p {
    text-transform: none;
  }
  em {
    color: var(--color-secondary);
    font-style: normal;
  }
  .freeze {
    overflow-y: hidden;
  }
  .icon-button {
    cursor: pointer;
    appearance: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-sm);
    border: 1px solid var(--color-text-highlight);
    border-radius: var(--radius-full);
    background-color: unset;
    color: currentColor;
    &:hover,
    &:focus {
      color: var(--color-primary);
      background-color: var(--color-text-highlight);
    }
    &:focus-visible {
      border: 1px solid var(--color-text-highlight);
      border-radius: var(--radius-full);
    }
  }
}

@layer components {
  [data-corvu-tooltip-content] {
    max-width: 200px;
    background-color: var(--color-background);
    border: 1px solid var(--color-neutral);
    border-radius: var(--radius-md);
    padding: var(--space-sm) var(--space-md);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-sm);
  }

  @keyframes enter {
    from {
      opacity: var(--tooltip-enter-opacity, 1);
      transform: translate3d(var(--tooltip-enter-translate-x, 0), var(--tooltip-enter-translate-y, 0), 0)
        scale3d(var(--tooltip-enter-scale, 1), var(--tooltip-enter-scale, 1), var(--tooltip-enter-scale, 1))
        rotate(var(--tooltip-enter-rotate, 0));
    }
  }

  @keyframes exit {
    to {
      opacity: var(--tooltip-exit-opacity, 1);
      transform: translate3d(var(--tooltip-exit-translate-x, 0), var(--tooltip-exit-translate-y, 0), 0)
        scale3d(var(--tooltip-exit-scale, 1), var(--tooltip-exit-scale, 1), var(--tooltip-exit-scale, 1))
        rotate(var(--tooltip-exit-rotate, 0));
    }
  }

  [data-corvu-tooltip-content][data-open] {
    animation-name: enter;
    animation-duration: 150ms;
    --tooltip-enter-opacity: initial;
    --tooltip-enter-scale: initial;
    --tooltip-enter-rotate: initial;
    --tooltip-enter-translate-x: initial;
    --tooltip-enter-translate-y: initial;
    --tooltip-enter-opacity: 0.5;
    --tooltip-enter-translate-y: 0.25rem;
  }

  [data-corvu-tooltip-content][data-closed] {
    animation-name: exit;
    animation-duration: 150ms;
    --tooltip-exit-opacity: initial;
    --tooltip-exit-scale: initial;
    --tooltip-exit-rotate: initial;
    --tooltip-exit-translate-x: initial;
    --tooltip-exit-translate-y: initial;
    --tooltip-exit-opacity: 0.5;
    --tooltip-exit-translate-y: 0.25rem;
  }
}
