---
import ThemedLayout from '../layouts/ThemedLayout.astro';
import Button from '../components/solid/Button';
import StarField from '../components/solid/StarField';
---

<ThemedLayout>
  <main>
    <article>
      <h1>Hey, <em>I'm Adam Knee</em>.</h1>
      <h2>
        I'm an <a href="/resume">experienced software developer</a> who builds
        <a href="/portfolio">cool stuff</a> that is out of this world.
      </h2>
      <div>
        <Button href="/portfolio">view portfolio</Button>
      </div>
    </article>
    <section>
      <svg
        width="100%"
        height="100%"
        viewBox="0 0 5572 4755"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xml:space="preserve"
        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
        ><g id="astronaut-floating"
          ><g id="Bag"
            ><path
              id="bag-base"
              d="M4588.49,3079.55c106.634,-137.027 162.39,-279.293 152.611,-425.231c-1.166,-71.037 -541.247,-814.84 -662.972,-903.837c-241.944,-19.2 -344.185,17.58 -452.806,218.822c42.352,515.536 356.195,935.457 963.167,1110.25Z"
              style="fill:#1d1b27;"></path><path
              id="bag-pocket"
              d="M4013.57,2562.3c178.572,-27.898 326.538,-67.087 427.444,-123.639c47.117,33.744 71.763,80.981 78.857,138.757c-24.052,140.98 -90.938,208.125 -191.069,217.965c-37.213,4.324 -87.975,-27.767 -145.958,-79.262c-25.893,-88.264 -78.47,-144.2 -169.274,-153.821Z"
              style="fill:#f5f5f5;"></path><path
              id="bag-bottom"
              d="M4513.39,2404.88c68.808,88.851 137.415,177.74 162.12,274.737c4.108,86.166 -18.511,185.532 -98.423,313.197c-173.693,-27.053 -307.284,-90.131 -396.306,-193.248c200.032,180.025 543.568,-74.538 332.609,-394.686Z"
              style="fill:#f5f5f5;"></path></g
          ><g id="Body"
            ><path
              id="base"
              d="M692.454,1587.27c-137.098,-34.299 -188.078,23.076 -176.026,147.551c-215.942,-39.172 -359.968,7.452 -438.133,132.65c-66.167,115.301 -89.653,229.214 -73.27,342.049c33.505,140.356 171.886,250.997 457.816,319.83c466.022,407.995 999.265,615.551 1626.67,542.336l100.725,181.702c-80.388,100.118 -125.078,168.271 -107.984,181.1c23.95,64.909 261.553,283.159 515.592,513.207c75.635,41.092 192.779,52.734 378.788,15.519c188.523,216.557 485.653,340.992 915.108,353.186c96.998,291.951 256.308,445.625 488.489,437.595c260.62,-38.041 418.255,-158.106 389.689,-426.475c-18.191,-182.907 -61.505,-323.526 -122.301,-434.718l15.392,-5.264c174.57,346.648 339.737,412.156 492.143,400.101c307.947,-41.16 459.647,-196.312 406.213,-501.122c-68.228,-266.712 -192.618,-472.304 -355.646,-635.847c-88.248,-59.332 -190.395,-88.769 -302.478,-96.841c-343.914,-31.624 -577.604,-119.025 -727.904,-248.626c14.219,-147.441 -45.839,-213.969 -135.077,-248.711c727.995,-186.325 877.957,-419.141 1114.76,-644.973c362.003,-135.148 478.323,-325.687 346.862,-572.091c-99.245,-226.388 -281.246,-256.682 -504.906,-188.261c-13.039,-141.328 -91.449,-161.408 -210.152,-106.755c-123.515,78.924 -204.934,200.757 -264.094,345.278c-186.23,145.471 -448.204,244.309 -734.954,327.893l-23.35,-7.524c-171.805,8.636 -325.179,55.55 -451.219,159.23c38.144,333.481 -298.287,682.525 -768.206,844.806c-729,175.724 -1217.72,-39.85 -1502.28,-587.913c-38.824,-251.537 -155.239,-431.489 -350.268,-538.912Z"
              style="fill:#1d1b27;"></path><path
              id="right-arm"
              d="M989.011,2143.77c-6.755,-215.769 -109.866,-372.22 -282.237,-486.032c-99.05,-36.44 -119.698,-11.556 -121.782,30.076c-5.542,110.697 153.111,108.354 119.148,228.432c-51.633,182.553 13.542,287.45 13.542,287.45c-42.747,97.695 -146.223,-154.691 -81.742,-318.29c-33.752,-26.664 -54.547,-48.862 -64.054,-67.17c-209.6,-91.674 -415.573,-26.326 -481.019,178.029c-50.31,134.311 -36.62,234.229 36.4,302.263c79.841,69.297 197.172,129.037 370.545,174.488c239.762,193.015 480.447,347.085 722.825,429.681c93.473,-57.203 177.038,-131.855 243.019,-237.473c-263.597,-255.726 -432.48,-437.835 -474.645,-521.454Z"
              style="fill:#f5f5f5;"></path><path
              id="torso"
              d="M1309,2935.12c72.062,-55.997 145.149,-136.129 219.248,-240.102c850.281,436.432 1832.89,-223.431 1950.95,-862.305c92.205,25.438 288.885,-22.685 547.34,-114.303c-38.631,380.323 110.208,558.692 302.202,690.572c-168.164,60.988 -377.956,103.968 -612.255,136.346c-32.075,0.171 -38.669,10.478 2.408,31.127c29.481,4.578 63.233,7.673 112.198,5.488c17.922,18.409 35.74,32.693 53.385,40.123c-157.621,434.049 -297.814,492.821 -485.626,606.908c-150.271,-172.387 -163.969,-307.418 -353.925,-239.918c-348.731,122.267 -605.626,194.721 -796.817,231.538c-78.518,-104.134 -122.96,-188.863 -165.125,-272.294c-25.619,-19.178 -32.774,-9.176 -33.826,10.47c0.454,12.675 5.939,27.464 15.706,44.054c-295.67,35.012 -541.63,4.551 -755.861,-67.704Z"
              style="fill:#f5f5f5;"></path><path
              id="left-arm"
              d="M4099.09,1696.56c-60.069,216.477 52.239,567.885 314.721,675.064c281.256,-132.643 506.89,-310.857 704.061,-512.392c211.89,-85.243 330.494,-178.214 364.062,-278.229c21.624,-232.251 -100.874,-355.863 -269.294,-392.611c-80.547,-15.636 -166.073,12.642 -252.816,51.666c-7.236,30.94 -28.248,56.387 -55.391,79.391c55.543,145.395 40.3,250.782 -12.403,334.998c-23.208,13.652 -27.833,1.032 -26.787,-19.606c31.083,-95.976 9.299,-194.929 -30.15,-294.876c-15.146,-17.166 -12.539,-35.639 4.266,-55.157c74.473,-93.041 96.047,-146.304 66.492,-184.096c-36.483,-48.418 -112.566,19.309 -193.025,99.875c-205.118,239.67 -5.52,254.594 -613.736,495.973Z"
              style="fill:#f5f5f5;"></path><g id="fanny-pack"
              ><path
                id="belt"
                d="M3355.06,3325.61c292.669,-100.881 487.239,-327.078 590.972,-669.317c41.69,-79.523 133.592,-14.825 168.152,73.483c-67.746,601.949 -541.496,808.993 -698.345,766.535c-70.867,-63.305 -89.096,-119.948 -60.779,-170.701Z"
                style="fill:#f5f5f5;"></path><path
                id="right"
                d="M3428.68,3573.43c71.79,1.148 132.133,-5.579 174.495,-24.674c24.173,26.776 35.288,51.051 29.296,72.052c-36.536,18.085 -73.419,44.838 -110.694,81.364c-13.365,-70.095 -55.634,-95.722 -93.097,-128.742Z"
                style="fill:#f5f5f5;"></path><path
                id="front"
                d="M2153.64,3429.91c276.85,4.175 566.926,-53.924 843.552,-176.602c106.283,-15.78 110.541,155.069 448.034,424.184c25.044,39.16 16.833,70.346 -22.749,94.01c-385.62,157.427 -658.521,211.971 -793.556,145.41c-65.812,-18.094 -385.869,-374.505 -475.281,-487.002Z"
                style="fill:#f5f5f5;"></path><path
                id="top"
                d="M2183.74,3367.35l53.263,-78.451c262.649,-53.813 546.614,-141.216 845.955,-252.851c152.22,-43.07 168.653,128.819 259.899,215.923c13.713,13.091 -106.357,21.002 -65.564,171.081c-131.754,-139.565 -143.87,-180.271 -207.124,-226.431c-15.884,-11.592 34.099,-105.558 34.099,-105.558c-6.669,-13.796 -36.709,20.089 -111.596,102.078c-327.8,123.347 -597.162,181.1 -808.932,174.209Z"
                style="fill:#f5f5f5;"></path></g
            ><path
              id="pants"
              d="M3129.28,3928.4c106.97,-26.109 212.599,-60.358 326.537,-105.593c63.996,-51.529 131.892,-100.457 203.769,-146.73c42.964,-40.522 44.042,-91.821 3.262,-153.891c275.646,-134.971 416.313,-366.749 498.752,-640.287c111.339,85.852 249.495,152.579 428.38,190.257c110.208,404.432 23.93,669.798 -256.034,777.892c-178.418,-20.554 -288.838,-49.273 -355.146,-83.289c-14.109,-10.096 -29.452,-6.13 -46.609,18.508c-122.856,98.744 -213.551,131.352 -301.081,157.452c-43.587,2.493 -52.649,18.365 -12.859,41.295c159.734,-39.322 279.557,-87.688 352.794,-146.613c47.543,24.989 97.7,42.025 150.71,50.384c-134.791,247.302 -357.392,298.438 -594.671,316.782c-185.514,-45.215 -340.358,-109.567 -429.942,-214.641c40.093,13.716 87.206,22.133 152.881,16.536c20.507,-5.644 21.452,-16.705 5.52,-32.439c-36.884,-12.514 -77.097,-26.752 -126.263,-45.623Z"
              style="fill:#f5f5f5;"></path><g id="boots"
              ><path
                id="right-boot"
                d="M3761.15,4239.4c179.2,-60.592 342.169,-145.563 433.528,-338.098c102.812,22.421 229.018,24.705 380.228,5.466c107.801,180.784 129.598,358.9 131.662,536.404c-53.615,213.616 -359.043,329.964 -575.13,157.956c-97.793,-100.098 -133.253,-195.396 -171.835,-290.933c146.123,-34.254 257.849,-91.073 338.899,-168.016c7.769,-35.703 -1.475,-43.23 -23.744,-29.186c-181.395,136.923 -349.652,151.668 -513.608,126.407Z"
                style="fill:#f5f5f5;"></path><path
                id="left-boot"
                d="M4492.19,3844.53c206.083,-163.974 271.452,-412.133 172.881,-758.372c285.929,38.507 452.526,80.102 510.3,124.515c252.63,268.87 288.363,482.804 334.848,699.461c-51.907,267.079 -223.414,337.768 -462.531,297.437c-158.407,-43.755 -245.119,-173.092 -309.795,-328.733c162.882,-44.671 294.28,-150.932 367.561,-370.881c-11.539,-21.887 -22.314,-23.707 -32.672,-14.572c-118.346,264.506 -333.381,339.377 -580.592,351.145Z"
                style="fill:#f5f5f5;"></path></g
            ><g id="body-shadows" opacity="0.1"
              ><path
                id="right-arm-shadow"
                d="M149.917,2317.13c271.805,115.402 421.387,28.856 475.914,-214.748c27.892,98.224 50.363,133.941 82.899,117.681c25.765,139.35 359.878,447.513 720.413,500.032c-41.556,60.756 -103.333,118.623 -206.863,183.61c-249.668,-91.012 -496.562,-226.001 -723.949,-429.351c-197.483,-50.344 -296.257,-107.6 -348.414,-157.224Z"
                style="fill:#1d1b27;"></path><path
                id="torso-top"
                d="M1305.93,2931.39c78.065,-54.891 146.274,-118.442 197.564,-196.856c43.363,11.044 94.991,17.535 157.246,18.169c546.619,203.937 1279.42,22.852 1686.38,-612.618c41.765,5.73 90.456,-7.897 150.715,-53.853c-206.896,475.504 -571.405,996.752 -1410.94,858.098l-39.117,10.059l21.636,50.124c-272.055,32.485 -527.099,9.882 -763.49,-73.123Z"
                style="fill:#1d1b27;"></path><path
                id="left-arm-shadow"
                d="M3887.75,2525.27c576.519,-197.726 918.275,-485.703 994.573,-875.729c50.09,-30.109 53.777,-114.109 55.009,-188.107c73.179,266.574 252.586,311.308 537.238,136.257c-29.216,87.913 -164.387,173.111 -360.095,260.632c-490.132,510.509 -856.787,582.903 -1226.73,666.947Z"
                style="fill:#1d1b27;"></path><path
                id="bag-front-shadow"
                d="M2508.44,3819.41c636.73,26.196 748.177,-170.114 730.188,-335.036l205.838,190.307c24.363,34.286 31.476,59.706 -6.706,89.068c-347.255,174.926 -720.637,312.866 -929.32,55.661Z"
                style="fill:#1d1b27;"></path><path
                id="top-righ-bag-shadow"
                d="M3153.41,3277.47c36.612,49.789 77.62,99.955 128.008,150.924c-9.842,-19.27 -13.346,-36.569 -7.815,-51.058c-44.583,-29.186 -82.322,-64.586 -120.193,-99.866Z"
                style="fill:#1d1b27;"></path><path
                id="bottom-right-bag-shadow"
                d="M3419.92,3570.89c80.281,6.065 128.747,-9.035 176.835,-23.662c17.845,8.295 36.071,30.944 37.925,74.062c-42.075,22.02 -80.905,50.738 -118.097,82.835c-5.454,-62.666 -47.151,-87.512 -96.663,-133.235Z"
                style="fill:#1d1b27;"></path><path
                id="right-boot-shadow-top"
                d="M3757.88,4241.29c52.809,-14.884 102.029,-33.466 147.012,-56.413c90.929,11.542 201.98,-0.803 343.682,-49.533c-76.245,56.407 -181.389,95.868 -322.345,114.333c-70.099,0.259 -123.018,-3.235 -168.349,-8.387Z"
                style="fill:#1d1b27;"></path><path
                id="right-boot-shadow-botom"
                d="M3959.77,4309.54c67.659,-14.834 135.632,-39.113 203.894,-72.116c-168.255,221.109 35.336,435.596 422.378,381.181c-181.502,124.636 -500.671,135.937 -626.272,-309.065Z"
                style="fill:#1d1b27;"></path><path
                id="belt-shadow"
                d="M3365.83,3451.23c372.561,-61.175 645.465,-441.356 652.208,-828.107c42.086,16.496 78.131,48.484 96.223,99.831c-23.421,438.657 -440.01,834.632 -687.472,775.233c-29.953,-4.922 -50.158,-20.702 -60.959,-46.957Z"
                style="fill:#1d1b27;"></path><path
                id="bag-bottom-shadow"
                d="M4513.39,2404.88c68.808,88.851 137.415,177.74 162.12,274.737c4.108,86.166 -18.511,185.532 -98.423,313.197c-173.693,-27.053 -307.284,-90.131 -396.306,-193.248c200.032,180.025 543.568,-74.538 332.609,-394.686Z"
                style="fill:#1d1b27;"></path><path
                id="bag-pocket-shadow"
                d="M4183.48,2718.11c125.785,-45.765 212.311,-138.551 258.171,-280.042c41.566,28.348 70.134,72.308 81.086,137.424c-46.039,242.855 -232.801,280.901 -339.257,142.618Z"
                style="fill:#1d1b27;"></path><path
                id="pants-shadow"
                d="M3227.88,3899.07c322.764,53.266 626.39,-156.154 803.364,-406.502c77.043,152.931 241.999,228.974 472.291,247.874c-50.007,53.943 -107.251,91.942 -174.502,107.894c-172.737,-5.775 -274.159,-43.979 -368.664,-85.329c-134.761,110.448 -246.751,171.772 -340.859,179.971c-36.716,3.198 -16.925,42.968 13.674,35.519c9.664,97.95 64.417,154.643 144.611,188.06c-99.279,30.925 -185.381,47.896 -243.606,35.35c-206.992,-36.468 -345.999,-115.394 -437.959,-210.425c40.563,15.566 90.786,21.552 158.006,10.682c8.92,4.617 11.766,-2.873 4.439,-30.644l-135.776,-40.15c40.089,-6.47 80.986,-18.079 104.981,-32.3Z"
                style="fill:#1d1b27;"></path><path
                id="right-boot-shadow-back"
                d="M3917.66,3872.93l52.984,-40.246c120.497,59.256 349.302,102.259 606.61,72.702l43.656,88.578c-167.126,-78.202 -399.69,46.725 -703.25,-121.034Z"
                style="fill:#1d1b27;"></path><path
                id="left-boot-shadow-bottom"
                d="M4732.31,3878.02c68.675,-10.697 137.828,-48.924 207.352,-108.426c-139.884,354.224 141.66,448.222 504.834,321.231c-155.506,156.805 -491.711,264.726 -712.186,-212.805Z"
                style="fill:#1d1b27;"></path><path
                id="left-boot-shadow-top"
                d="M4489.78,3849.12c41.859,-35.103 77.311,-72.415 106.64,-111.838c136.07,18.693 287.726,-43.263 460.617,-215.1c-101.811,210.676 -260.552,305.624 -567.257,326.938Z"
                style="fill:#1d1b27;"></path></g
            ></g
          ><g id="Helmet"
            ><g
              ><g id="helmet-base"
                ><g id="helmet-circle"
                  ><ellipse
                    id="Base-Helmet-Layer"
                    cx="2112.97"
                    cy="1410.68"
                    rx="1429.32"
                    ry="1410.68"
                    style="fill:#1d1b27;"></ellipse><ellipse
                    id="_1st"
                    cx="2112.97"
                    cy="1410.68"
                    rx="1354.46"
                    ry="1336.8"
                    style="fill:#f5f5f5;"></ellipse></g
                ><g id="helmet-circle1"
                  ><ellipse
                    id="Base-Helmet-Layer1"
                    cx="1969.81"
                    cy="1470.39"
                    rx="1286.15"
                    ry="1301.75"
                    style="fill:#1d1b27;"></ellipse><ellipse
                    id="_1st1"
                    cx="1969.81"
                    cy="1470.39"
                    rx="1218.79"
                    ry="1233.57"
                    style="fill:#f5f5f5;"></ellipse></g
                ></g
              ><ellipse id="helmet-shield" cx="1894.92" cy="1476.24" rx="1205.41" ry="1183.23" style="fill:#1d1b27;"
              ></ellipse><g id="helmet-shadows" opacity="0.3"
                ><path
                  d="M1095.44,2258.17c948.425,140.636 1601.99,-199.97 1892.61,-1132.94c64.114,532.033 1.748,1004.96 -475.449,1284.03c-584.688,329.491 -1039.41,141.093 -1417.16,-151.094Z"
                  style="fill:#f5f5f5;fill-opacity:0.25;"></path><path
                  d="M2724.79,1556.33c-41.38,29.255 -44.029,88.263 -13.09,125.327c18.754,32.114 47.703,47.266 92.346,36.309c34.915,-21.701 54.621,-55 33.809,-119.198c-16.364,-50.479 -69.814,-65.125 -113.065,-42.438Z"
                  style="fill:#f5f5f5;"></path><path
                  d="M2635.57,1048.68c-117.643,41.399 -152.209,180.881 -121.5,281.647c18.478,60.633 71.449,152.914 206.055,138.621c97.332,-28.085 165.881,-92.248 157.747,-252.532c-17.977,-124.853 -124.443,-192.894 -242.302,-167.736Z"
                  style="fill:#f5f5f5;"></path><path
                  d="M2270.25,587.845c-1062.29,-558.612 -1870.77,701.234 -1207.83,1290.47c-190.402,-789.523 229.442,-1280.07 1207.83,-1290.47Z"
                  style="fill:#f5f5f5;"></path></g
              ><g id="helmet-ear-piece"
                ><g id="helmet-circle2"
                  ><path
                    id="Base-Helmet-Layer2"
                    d="M3281.59,2141.2c-233.407,-29.937 -392.816,-288.833 -355.755,-577.784c37.061,-288.95 256.647,-499.237 490.054,-469.3c233.407,29.937 392.816,288.833 355.755,577.784c-37.061,288.95 -256.647,499.236 -490.054,469.3Z"
                    style="fill:#1d1b27;"></path><path
                    id="Base-Helmet-Layer3"
                    d="M3290.13,2074.6c-203.716,-26.128 -342.846,-252.09 -310.5,-504.284c32.347,-252.193 223.999,-435.729 427.715,-409.601c203.716,26.129 342.846,252.091 310.5,504.285c-32.347,252.193 -223.999,435.729 -427.715,409.6Z"
                    style="fill:#f5f5f5;"></path></g
                ><g id="helmet-circle3"
                  ><path
                    d="M3467.8,1206.63c172.686,7.397 304.516,208.782 294.207,449.435c-10.309,240.653 -158.877,430.027 -331.563,422.63c-172.686,-7.397 -304.516,-208.783 -294.207,-449.436c10.309,-240.653 158.877,-430.027 331.563,-422.629Z"
                    style="fill:#1d1b27;"></path><path
                    d="M3469.83,1280.09c134.364,5.756 236.406,174.864 227.73,377.403c-8.676,202.539 -124.806,362.302 -259.17,356.546c-134.364,-5.756 -236.406,-174.864 -227.73,-377.403c8.676,-202.539 124.806,-362.302 259.17,-356.546Z"
                    style="fill:#f5f5f5;"></path></g
                ></g
              ></g
            ></g
          ><g id="logo-symbol"
            ><path
              d="M3401.1,2511.72c107.555,34.463 183.991,95.373 170.972,136.446c-13.033,41.12 -110.811,46.846 -218.729,12.931c15.313,4.778 32.088,4.886 48.006,-0.408c71.816,14.582 130.441,6.428 139.577,-22.395c9.134,-28.823 -34.088,-69.256 -101.19,-98.705c-9.882,-13.389 -23.515,-22.917 -38.636,-27.869Zm-1.118,-0.357c-0.181,-0.058 -0.361,-0.115 -0.541,-0.172c-108.426,-34.366 -206.931,-28.757 -220.016,12.526c-13.084,41.283 64.206,102.609 172.632,136.975c0.306,0.096 0.611,0.193 0.916,0.289c-15.269,-4.845 -29.063,-14.341 -39.075,-27.756c-68.319,-29.524 -112.557,-70.509 -103.325,-99.636c9.231,-29.126 69,-37.146 141.85,-21.927c15.783,-5.157 32.386,-5.019 47.559,-0.299Z"
              style="fill:#1d1b27;"></path><path
              d="M3445.19,2475c16.476,-8.546 22.905,-28.83 14.359,-45.306c-8.545,-16.476 -28.829,-22.905 -45.305,-14.359c-16.477,8.546 -22.905,28.83 -14.36,45.306c8.546,16.476 28.829,22.905 45.306,14.359Z"
              style="fill:#1d1b27;fill-rule:nonzero;"></path><path
              d="M3344.3,2767.09c16.476,-8.545 22.905,-28.829 14.36,-45.306c-8.546,-16.476 -28.83,-22.905 -45.306,-14.359c-16.476,8.545 -22.905,28.829 -14.359,45.305c8.545,16.477 28.829,22.906 45.305,14.36Z"
              style="fill:#1d1b27;fill-rule:nonzero;"></path><path
              d="M3448.9,2725.46c76.888,-39.88 106.89,-134.539 67.011,-211.427c-39.879,-76.888 -134.537,-106.889 -211.426,-67.01c-76.888,39.879 -106.889,134.537 -67.011,211.425c39.88,76.888 134.538,106.89 211.426,67.012Zm-36.104,-69.61c38.444,-19.939 53.445,-67.269 33.506,-105.713c-19.94,-38.444 -67.269,-53.445 -105.713,-33.505c-38.444,19.939 -53.445,67.268 -33.505,105.712c19.939,38.444 67.268,53.446 105.712,33.506Z"
              style="fill:#1d1b27;"></path><path
              d="M3392.17,2616.07c16.476,-8.545 22.905,-28.829 14.359,-45.305c-8.545,-16.477 -28.829,-22.906 -45.306,-14.36c-16.476,8.546 -22.905,28.83 -14.359,45.306c8.545,16.476 28.829,22.905 45.306,14.359Z"
              style="fill:#1d1b27;fill-rule:nonzero;"></path></g
          ></g
        ></svg
      >
    </section>
  </main>
</ThemedLayout>

<style>
  h1,
  h2 {
    margin: 0;
    padding: 0;
  }
  h1 {
    font-size: clamp(2.85rem, 8vw, 6rem);
    font-weight: var(--font-weight-black);
    margin: var(--space-lg) 0;
    text-wrap: balance;
    line-height: 1.2;
  }
  h2 {
    font-size: clamp(1.25rem, 2vw, 3rem);
    font-weight: var(--font-weight-normal);
    margin: var(--space-lg) 0;
  }
  main {
    grid-column: 2 / span 1;
    @media (min-width: 64rem) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: var(--space-md);
    }
  }
  section {
    margin: var(--space-xl) 0;
    padding: var(--space-lg) 0;
  }
  section > svg {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    max-width: 800px;
    width: 80%;
    margin: auto;
    @media (min-width: 64rem) {
      min-width: 420px;
    }
  }
  article > div {
    margin: var(--space-2xl) 0;
  }
</style>
