---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import ThemedLayout from '../layouts/ThemedLayout.astro';
---

<ThemedLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main></main>
</ThemedLayout>
