---
import ResumeLayout from '../layouts/ResumeLayout.astro';
import ResumeHeader from '../components/ResumeHeader.astro';
import ResumeSection from '../components/ResumeSection.astro';
import ResumeItem from '../components/ResumeItem.astro';
import ResumeSkills from '../components/ResumeSkills.astro';
import NotFound from '../components/NotFound.astro';
import { getResume } from '../utils/sanity';
import { PortableText } from 'astro-portabletext';
import type { PortableTextBlock } from '@portabletext/types';

type Job = {
  title: string;
  company: string;
  startdate: string;
  enddate?: string;
  description?: PortableTextBlock;
};

type Study = Omit<Job, 'company'>;

const resume = await getResume();
---

<ResumeLayout>
  {!resume && <NotFound />}
  <ResumeHeader {...resume} />
  <section>
    {
      (resume?.highlights?.length || resume?.experience?.length) && (
        <main>
          <ResumeSection title="Highlights">
            {resume?.highlights?.length && <PortableText value={resume.highlights} />}
          </ResumeSection>
          <ResumeSection title="Experience">
            {resume?.experience?.map((job: Job) => (
              <ResumeItem subtitle={job?.company} {...job} />
            ))}
          </ResumeSection>
          {resume?.educationEnabled && (
            <ResumeSection title="Education">
              {resume?.education?.map((study: Study) => (
                <ResumeItem {...study} />
              ))}
            </ResumeSection>
          )}
        </main>
      )
    }
    {
      resume?.skills?.length && (
        <aside>
          <ResumeSection title="Skills & Tools">
            <ResumeSkills skills={resume.skills} />
          </ResumeSection>
        </aside>
      )
    }
  </section>
</ResumeLayout>

<style>
  section {
    padding: 0 var(--gap, 1rem);
  }
</style>
