---
import GithubSVG from './solidjs/GithubSVG';
import IconButtonLink from './IconButtonLink.astro';
import MobileMenuToggle from './solidjs/MobileMenuToggle';
---

<div class="nav-buttons">
  <IconButtonLink href="https://github.com/AdamAnSubtractM" target="_blank" title="View Adam's GitHub profile">
    <GithubSVG />
  </IconButtonLink>
  <div class="mobile-menu">
    <MobileMenuToggle client:load />
  </div>
</div>

<style>
  .mobile-menu {
    display: unset;
    @media (min-width: 48rem) {
      display: none;
    }
  }
</style>
