/* Embla dots bottom right */
.dots {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  gap: 0.5rem;
  z-index: 2;
}
.dot,
.dotActive {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid var(--color-secondary-lavender-gray);
  background: var(--color-secondary-lavender-gray-70);
  cursor: pointer;
  transition: background 0.2s;
  padding: 0;
}
.dotActive {
  background: var(--color-secondary-light-gray);
  border-color: var(--color-cta-celestial-gold);
}
.carousel {
  position: relative;
  overflow: hidden;
}

.viewport {
  overflow: hidden;
  width: 100%;
  padding: var(--space-sm) 0;
}

.container {
  display: flex;
  gap: var(--space-md);
}

/* show 3 slides at a time */
.slide {
  flex: 0 0 calc(88% - var(--space-md));
  min-width: 0;
  @media (min-width: 30rem) {
    flex: 0 0 calc(100% / 1.2 - var(--space-md));
  }
  @media (min-width: 48rem) {
    /* Styles for 768px and up */
    flex: 0 0 calc(100% / 2.2 - var(--space-md) * 2);
  }
  @media (min-width: 64rem) {
    flex: 0 0 calc(100% / 3.2 - var(--space-md) * 2);
  }
}

.prev {
  margin-left: 4px;
}

.prev,
.next {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
  margin: var(--space-sm) 0;
}

.next {
  transform: rotate(180deg);
}
