.carousel {
  position: relative;
  overflow: hidden;
}

.viewport {
  overflow: hidden;
  width: 100%;
  padding: var(--space-sm) 0;
}

.container {
  display: flex;
  gap: var(--space-md);
}

/* show 3 slides at a time */
.slide {
  flex: 0 0 calc(100% - var(--space-md));
  min-width: 0;
  @media (min-width: 30rem) {
    flex: 0 0 calc(100% / 2 - var(--space-md));
  }
  @media (min-width: 48rem) {
    flex: 0 0 calc(100% / 3 - var(--space-md) * 2);
  }
}

.prev {
  margin-left: 4px;
}

.prev,
.next {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
  margin: var(--space-sm) 0;
}

.next {
  transform: rotate(180deg);
}
