.contactSlip {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  padding: var(--space-sm);
  margin: var(--space-sm) 0;
  border: var(--size-width-border-sm) solid var(--color-secondary-lavender-gray);
  border-radius: var(--radius-sm);
}

.contactSlip:first-of-type {
  margin-bottom: var(--space-lg);
}

.contactSlip a {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.contactSlip input[type='email'] {
  padding: var(--space-sm);
  border: var(--size-width-border-sm) solid var(--color-secondary-lavender-gray);
  color: var(--color-secondary-light-gray);
  border-radius: var(--radius-sm);
  background-color: var(--color-secondary-charcoal-gray-60);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  font-family: inherit;
  width: 100%;
}
