.title {
  width: 100%;
  clear: both;
  font-size: var(--font-size-md);
}

.tagsList {
  display: flex;
  flex-flow: row wrap;
  gap: var(--space-xs);
  overflow-x: scroll;
  padding: var(--space-xs) 0;
  margin-top: var(--space-sm);
  max-width: 100%;
}
