---
import BaseHead from '../components/astro/BaseHead.astro';
import Header from '../components/astro/Header.astro';
import MainNav from '../components/solid/MainNav';

type Props = {
  title?: string;
  description?: string;
  image?: string;
  theme?: 'dark' | 'light' | 'system';
};

const { title, description, image, theme } = Astro.props;
---

<html lang="en" data-theme={theme}>
  <head>
    <BaseHead title={title} description={description} image={image} />
    <slot name="head" />
  </head>
  <body>
    <Header>
      <MainNav client:load />
    </Header>
    <slot />
  </body>
</html>
