---
import ThemedLayout from './ThemedLayout.astro';
---

<ThemedLayout>
  <slot name="head" slot="head" />
  <section id="pdf" class="pdf">
    <slot />
  </section>
</ThemedLayout>

<style>
  :root {
    --gap-xs: 0.25em;
    --gap-sm: 0.5em;
    --gap: 1em;
    --gap-lg: 2em;
    --gap-xl: 4em;
    --color-accent: #f2f2f2;
    --border-width: 1px;
    --border: var(--border-width) solid var(--color-neutral);
    --border-alternate: var(--border-width) dashed var(--color-neutral);
    --size-letter-width: 794px;
    --size-letter-height: 1123px;
  }

  body {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    gap: var(--gap, 1rem);
    font-size: 1rem;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
  }
  :global(#main-header, #main-footer) {
    @media print {
      display: none;
    }
  }
  :global(html, body) {
    @media print {
      background-color: white !important;
      color: black !important;
    }
  }
  .pdf {
    text-transform: none;
    margin: var(--gap);
    max-width: calc(var(--size-letter-width) + (2 * var(--gap, 1em)));
    min-height: var(--size-letter-height);
    width: 100%;
    padding: var(--gap, 1em);
    display: flex;
    flex-flow: column nowrap;
    font-size: 1em;
    background-color: var(--color-paper);
    border: 1px solid var(--color-deep-space);
    color: var(--color-deep-space);
    @media print {
      max-width: 100%;
      min-height: min-content;
      padding: 0 var(--gap, 1em);
      width: 100%;
      background-color: white !important;
      color: black !important;
      border: none;
    }
  }
</style>
