---
import ThemedLayout from './ThemedLayout.astro';
---

<ThemedLayout>
  <slot name="head" slot="head" />
  <section id="pdf" class="pdf">
    <slot />
  </section>
</ThemedLayout>

<style>
  :root {
    --gap-xs: 0.25em;
    --gap-sm: 0.5em;
    --gap: 1em;
    --gap-lg: 2em;
    --gap-xl: 4em;
    --gap-2xl: 6em;
    --border: 1px solid var(--color-surface-light);
    --border-alternate: 1px dashed var(--color-surface-light);
    --size-letter-width: 794px;
    --size-letter-height: 1123px;
  }

  body {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    gap: var(--gap, 1rem);
    font-size: 1rem;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
  }
  :global(#main-header, #main-footer, footer) {
    @media print {
      display: none !important;
    }
  }
  :global(html, body) {
    @media print {
      background-color: white !important;
      color: var(--color-secondary-charcoal-gray) !important;
    }
  }
  :global(li) {
    margin-bottom: var(--gap-sm, 0.5em);
  }
  .pdf {
    display: flex;
    flex-flow: column nowrap;
    text-transform: none;
    border: 1px solid var(--color-text-primary);
    border-radius: var(--radius-sm);
    margin: var(--gap);
    padding: var(--gap, 1em);
    width: 100%;
    max-width: calc(var(--size-letter-width) + (2 * var(--gap, 1em)));
    min-height: var(--size-letter-height);
    font-size: 1em;
    gap: var(--gap-xs, 0.25em);
    @media print {
      margin: 0;
      padding: 0;
      max-width: 100%;
      min-height: min-content;
      width: 100%;
      background-color: white !important;
      border: none;
      border-radius: unset;
      color: var(--color-secondary-charcoal-gray) !important;
      a {
        text-decoration: none !important;
      }
    }
  }
</style>
