---
import BaseLayout from './BaseLayout.astro';
---

<BaseLayout theme="dark">
  <slot name="head" slot="head" />
  <section>
    <slot />
  </section>
</BaseLayout>

<style>
  html,
  body {
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
  }
  section {
    display: grid;
    min-height: calc(100dvh - var(--size-height-header) + var(--size-width-border-sm));
    place-items: center;
    grid-template-columns: minmax(var(--space-md), 1fr) minmax(0, 96rem) minmax(var(--space-md), 1fr);
    grid-template-rows: 1fr 1px auto 1px auto;
    @media print {
      display: block;
      padding: var(--gap, 1em);
    }
  }
</style>
