---
type Props = {
  title?: string;
  includePadding?: boolean;
  isImportant?: boolean;
};

const { title, includePadding, isImportant } = Astro.props;

const classes = ['section', includePadding && 'padding', isImportant && 'important'].filter(Boolean).join(' ');
---

<section class={classes}>
  {title && <h2>{title}</h2>}
  <slot />
</section>

<style>
  h2 {
    font-weight: 900;
    font-size: 1.5em;
    border-bottom: var(--border);
    padding: var(--gap-xs, 0.25em) 0;
    margin-bottom: 0;
    margin-top: var(--gap-xs, 0.25em);
    page-break-after: avoid;
    color: var(--color-secondary-light-gray);
    background-color: var(--color-background-primary);
    position: sticky;
    top: var(--size-height-header);
    z-index: var(--layer-7);
    @media print {
      color: var(--color-secondary-charcoal-gray);
      background-color: unset;
      position: unset;
    }
  }
  section {
    padding: 0 var(--gap, 1em);
    p {
      margin: 0.5em 0;
      padding: 0;
    }
    ul {
      margin: 0.5em 0;
    }
  }
  section.padding {
    padding: var(--gap, 1em);
  }
  section.important {
    p,
    ul {
      color: var(--color-secondary-light-gray);
    }
    @media print {
      color: var(--color-secondary-charcoal-gray);
      p,
      ul {
        color: var(--color-secondary-charcoal-gray);
      }
    }
  }
</style>
