---
import { PortableText } from 'astro-portabletext';
import type { PortableTextBlock } from '@portabletext/types';

type SkillsSection = {
  title: string;
  skillsContent: PortableTextBlock;
};

type Props = {
  skills: SkillsSection[];
};

const { skills } = Astro.props;
---

{
  skills?.length && (
    <div>
      {skills?.map((section: SkillsSection) => (
        <article>
          {section?.title && <h3>{section.title}</h3>}
          {section?.skillsContent && <PortableText value={section.skillsContent} />}
        </article>
      ))}
    </div>
  )
}

<style>
  h3 {
    margin-top: 0;
    margin-bottom: var(--gap-xs, 0.25em);
  }
  div {
    page-break-inside: avoid;
  }
  article {
    page-break-inside: avoid;
    padding: var(--gap, 1em) 0;
    border-bottom: var(--border-alternate);
    &:last-child {
      border-bottom: none;
    }
  }
</style>
